@charset "UTF-8";
 body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  background-color: white;
  flex-direction: column;
}

 header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;

}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    height: 100%;
     width: 100%;
}

section {
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    width: 100%;
    max-width: 700px;
     box-sizing: border-box;
}

.logo {
	 display: flex;
  justify-content: center;
  align-items: center;
    width: 100px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: middle;
}

label {
    display: inline-block;
    width: 120px;
}

input.text, input.email, select, input[type="tel"], input[type="date"], input[type="password"], input[type="text"] {
    width: calc(100% - 130px);
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button.submitbtn {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    display: block;
    text-align: center;
    margin: 20px 0;
}

button.submitbtn:hover {
    background-color: #45a049;
}

input[type="button"].overlapbtn{
  	padding: 10px 20px;
    background-color: #d4edda;
    color: #155724;
    border: 2px solid #c3e6cb;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    margin: 5px 0
}

input[type="button"].overlapbtn:hover {
    background-color: #c3e6cb;
}
.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

input:invalid {
    border: 1px solid red;
}

input:invalid + .error-message {
    display: block;
}


#address2{
  width: 100%;
}




/*미디어 쿼리 반응형*/
@media (max-width: 768px) {
	main{
		padding:10px;
	}
    section {
        padding: 20px;
    }

    td {
        display: block;
        width: 100%;
        padding: 0.5em 0;
    }

    label {
        width: 100%;
        margin-bottom: 0.5em;
    }

    input.text, input.email, select, input[type="tel"], input[type="date"], input[type="password"], input[type="text"] {
        width: 100%;
    }

}

@media (max-width: 480px) {
    main {
        padding: 5px; /* 패딩을 더 줄여서 좀 더 촘촘하게 설정 */
    }

    section {
        padding: 16px; /* 내부 패딩을 더 줘서 콘텐츠가 넓게 보이도록 설정 */
    }

    input.text, input.email, select, input[type="tel"], input[type="date"], input[type="password"], input[type="text"] {
        width: calc(100% - 100px); /* 입력 필드 폭을 더 줄여서 매우 작은 화면에 맞춤 */
    }

    .logo {
        width: 80px; /* 로고 크기를 줄여서 작은 화면에 맞춤 */
    }
}
