<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ibreed_project.dao.ICartDAO">

	<resultMap type="com.ibreed_project.model.CartVO"
		id="cartResultMap">
		<result property="cart_id" column="cart_id" />
		<result property="cart_quantity" column="cart_quantity" />
		<result property="user_id" column="user_id" />
		<result property="product_id" column="product_id" />
		<result property="product_name" column="product_name" />
		<result property="product_discount" column="product_discount" />
		<result property="product_price" column="product_price" />
		<result property="product_img" column="product_img" />
		<result property="product_coment" column="product_coment" />
		<result property="product_stock" column="product_stock" />
		<result property="product_main_category"
			column="product_main_category" />
		<result property="product_sales" column="product_sales" />
		<result property="product_sub_category"
			column="product_sub_category" />
	</resultMap>

	<!-- 전체 카트 상품 조회 -->
	<select id="listAllCart" resultMap="cartResultMap">
		SELECT c.*, p.*
		FROM cart c
		JOIN product p ON c.product_id = p.product_id
		WHERE user_id=#{user_id};
	</select>

	<!-- 장바구니 상품 수량 변경 -->
	<update id="updateCartQuantity">
		UPDATE cart c
		JOIN product p ON c.product_id = p.product_id
		SET c.cart_quantity = GREATEST(c.cart_quantity + #{quantity}, 1)
		WHERE c.product_id = #{product_id}
		AND c.user_id = #{user_id};
	</update>

	<!-- 장바구니 최종 가격 조회 -->
	<select id="getTotalCartPrice">
	SELECT SUM(p.product_price * (1 - p.product_discount / 100) * c.cart_quantity) AS total_price
	FROM cart c
	JOIN product p ON c.product_id = p.product_id
	WHERE c.user_id = #{user_id};
	</select>
	
	<!-- 장바구니 삭제 -->
	<delete id="deleteCartItem">
	DELETE FROM cart
	WHERE user_id = #{user_id} AND product_id = #{product_id}
	</delete>
	
	<!-- 품절 상품 삭제 -->
	<delete id="deleteSoldoutItem">
	DELETE c 
	FROM cart c
	JOIN product p ON c.product_id = p.product_id
	WHERE c.user_id = #{user_id} AND p.product_stock = 0;
	</delete>

	<!-- 장바구니 수량 조회 -->
	<select id="getTotalCartCount">
	SELECT COUNT(DISTINCT product_id) AS total_cart_count
	FROM cart
	WHERE user_id = #{userId};
	</select>

</mapper>