<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibreed_project.dao.IEmotionDAO">

    <resultMap id="EmotionResultMap" type="com.ibreed_project.model.EmotionVO">
        <result property="diary_id" column="diary_id" />
        <result property="user_id" column="user_id" />
        <result property="diary_title" column="diary_title" />
        <result property="diary_content" column="diary_content" />
        <result property="diary_create" column="diary_create"/>
        <result property="diary_post_id" column="diary_post_id"/>



        <result property="sentiment_subject" column="sentiment_subject"/>
        <result property="sentiment_content" column="sentiment_content"/>
        <result property="sentiment_result" column="sentiment_result"/>
        <result property="sentiment_fear" column="sentiment_fear"/>
        <result property="sentiment_joy" column="sentiment_joy"/>
        <result property="sentiment_sorrow" column="sentiment_sorrow"/>
        <result property="sentiment_disgusting" column="sentiment_disgusting"/>
        <result property="sentiment_angry" column="sentiment_angry"/>
        <result property="sentiment_note_id" column="sentiment_note_id"/>

    </resultMap>

    <select id="diaryGetText" resultMap="EmotionResultMap">
        SELECT diary_id, user_id,diary_title,diary_content,diary_create  FROM diaryboard WHERE diary_post_id = #{diaryPostId} AND user_id = #{userId}
    </select>

    <insert id="emotionSave" parameterType="map">
        INSERT INTO sent_analysis (diary_post_id, sentiment_subject, sentiment_content, sentiment_fear, sentiment_joy, sentiment_sorrow, sentiment_disgusting, sentiment_angry, sentiment_result)
        VALUES (#{diary_post_id}, #{sentiment_subject}, #{sentiment_content}, #{sentiment_fear}, #{sentiment_joy}, #{sentiment_sorrow}, #{sentiment_disgusting}, #{sentiment_angry}, #{sentiment_result})
    </insert>




    <select id="getDiaryEntriesByPostIdAndUserId" resultMap="EmotionResultMap">
        SELECT
            db.diary_create,
            db.diary_title,
            db.diary_content,
            db.diary_post_id,
            sa.sentiment_note_id
        FROM
            diaryboard db
                INNER JOIN
            sent_analysis sa
            ON
                db.diary_post_id = sa.diary_post_id
        WHERE
            db.user_id = #{userId}
          AND db.diary_title = sa.sentiment_subject
          AND db.diary_content = sa.sentiment_content
        ORDER BY
            db.diary_create ASC;
    </select>



    <select id="getDiaryEntryByPostId" resultMap="EmotionResultMap">
        SELECT sentiment_result, sentiment_fear,sentiment_joy,sentiment_sorrow,sentiment_disgusting,sentiment_angry  FROM sent_analysis WHERE sentiment_note_id = #{sentiment_note_id}
    </select>







</mapper>
