<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibreed_project.dao.IJoinDAO">

	<insert id="joinCommit" parameterType="com.ibreed_project.model.AccountVO">
		INSERT INTO user (user_id, user_password, user_nickname,user_name,user_gender,user_phone_number,user_email, user_birth, user_kids_select, user_fetus_old, user_kids_old, user_location_agree, user_address, user_address_detail,user_auth_address, user_hint, user_hint_sub, user_rate, user_profile_image, user_timestamp)
		VALUES (#{user_id}, #{user_password}, #{user_nickname}, #{user_name}, #{user_gender}, #{user_phone_number}, #{user_email}, #{user_birth}, #{user_kids_select}, #{user_fetus_old}, #{user_kids_old}, #{user_location_agree}, #{user_address}, #{user_address_detail}, #{user_auth_address}, #{user_hint}, #{user_hint_sub}, 1, 'default', #{user_timestamp})
	</insert>

	<insert id="diaryCommit" parameterType="com.ibreed_project.model.AccountVO">
		INSERT INTO diary (diary_sentiment, diary_title, diary_count, diary_public, diary_profile_image, user_id, diary_profile_text)
		VALUES (NULL, CONCAT(#{user_nickname}, ' 의 다이어리'), 0, 1, 'default', #{user_id}, 'default')
	</insert>


	<select id="checkIdDuplicate" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM user WHERE user_id = #{id}
	</select>

	<select id="checkNicknameDuplicate" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM user WHERE user_nickname = #{nickname}
	</select>
	<select id="checkEmailDuplicate" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM user WHERE user_email = #{email}
	</select>

</mapper>
