<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibreed_project.dao.ILoginDAO">

	<select id="findById" parameterType="string" resultType="com.ibreed_project.model.AccountVO">
		SELECT * FROM user WHERE user_id = #{id}
	</select>

	<select id="getNickName" resultType="string">
		SELECT user_nickname FROM user WHERE user_id=#{user_id}
	</select>
	
	<select id="getRating" resultType="string">
		SELECT user_rate FROM user WHERE user_id=#{user_id}
	</select>
</mapper>
