<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

	<mapper namespace="com.ibreed_project.dao.IProductDAO">
	
		<resultMap type="com.ibreed_project.model.ProductVO" id="prdResult">
			<result property="product_id" column="product_id"/>
			<result property="product_name" column="product_name"/>
			<result property="product_discount" column="product_discount"/>
			<result property="product_price" column="product_price"/>
			<result property="product_img" column="product_img"/>
			<result property="product_coment" column="product_coment"/>
			<result property="product_stock" column="product_stock"/>
			<result property="product_main_category" column="product_main_category"/>
			<result property="product_sales" column="product_sales"/>
			<result property="product_sub_category" column="product_sub_category"/>
			
		</resultMap>
		
		<!-- shop 메인 top 10 뽑아오기(판매량이 높은 순서) -->
		<select id="selectTopTen" resultMap="prdResult">
			SELECT * FROM product ORDER BY product_sales DESC LIMIT 0,10
		</select>
		
		<!-- 신상품 뽑아오기(메인 카테고리가 신상품인것들) -->
		<select id="selectNewItem" resultMap="prdResult">
			SELECT * FROM product WHERE product_main_category = '신상품'
		</select>
		
		<!-- 베스트상품 뽑아오기(판매량 50개 이상부터 베스트상품으로 지정) -->
		<select id="bestItem" resultMap="prdResult">
			SELECT * FROM product WHERE product_sales >= 50
		</select>
		
		<!-- 인기상품 뽑아오기(재고량이 얼마 안남은 순서로) -->
		<select id="soldOutItem" resultMap="prdResult">
			SELECT * FROM product ORDER BY product_stock LIMIT 0,6
		</select>
		
		<!-- 전체상품 뽑아오기 -->
		<select id="viewAllPrd" resultMap="prdResult">
			SELECT * FROM product
			    <where>
			        <choose>
			            <when test="type != null and type.equals('best')">
			                AND product_sales > 49
			            </when>
			            <when test="type != null and type.equals('all')">
			                <!-- 'all'의 경우 별도의 조건이 없다면 생략 -->
			            </when>
			            <when test="type != null and type.equals('diary')">
			                AND product_sub_category = 'i다이어리'
			            </when>
			            <when test="type != null and type.equals('calendar')">
			                AND product_sub_category = 'i달력'
			            </when>
			            <when test="type != null and type.equals('clothing')">
			                AND product_sub_category = '의류/잡화/소품'
			            </when>
			            <when test="type != null and type.equals('gift')">
			                AND product_sub_category = '임신/출산 선물세트'
			            </when>
			            <when test="type != null and type.equals('baby')">
			                AND product_sub_category = '초보엄마아빠템'
			            </when>
			            <when test="type != null and type.equals('collaboration')">
			                AND product_sub_category = '콜라보레이션'
			            </when>
			            <when test="type != null and type.equals('event')">
			                AND product_sub_category = '이벤트'
			            </when>
			        </choose>
    			</where>
		</select>
		
		<!-- 상품번호 전달받아서 해당 상품 찾아서 반환(VO) -->
		<select id="detailViewPrd" parameterType="int" resultType="com.ibreed_project.model.ProductVO">
			SELECT * FROM product WHERE product_id = #{product_id};
		</select>
	</mapper>