<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ibreed_project.dao.IReviewDAO">
  
  	<resultMap id="reviewResult" type="com.ibreed_project.model.ReviewVO">
  		<result property="review_id" column="review_id"/>
  		<result property="review_title" column="review_title"/>
  		<result property="review_coment" column="review_coment"/>
  		<result property="review_rating" column="review_rating"/>
  		<result property="review_time" column="review_time"/>
  		<result property="user_id" column="user_id"/>
  		<result property="img" column="img"/>
  		<result property="product_id" column="product_id"/>
  		
  		<result property="user_name" column="user_name"/>
  	</resultMap>
  
  	<select id="selectReview" parameterType="int" resultMap="reviewResult">
  		SELECT R.review_coment, R.review_rating, R.review_time, U.user_name, R.img, P.product_name
		FROM review R
		JOIN product P
		ON R.product_id = P.product_id
		JOIN user U
		ON U.user_id = R.user_id
		WHERE P.product_id=#{product_id}
		ORDER BY R.review_time DESC
  	</select>
  	
  	<select id="countReview" parameterType="int">
  		SELECT COUNT(*) FROM review WHERE product_id = #{product_id};
  	</select>
  	
  	<select id="ratingAvg" parameterType="int">
  		SELECT ROUND(COALESCE(AVG(review_rating), 0.0), 1) AS review
		FROM review
		WHERE product_id = #{product_id};
  	</select>
  </mapper>