@charset "UTF-8";

#main {
	margin: 0 auto;
	text-align: center;
	width: 1280px;
	height: 5000px;
	/* background-color: pink; */
	padding-top: 25px;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

#category {
	width: 210px;
	margin-left: 25px;
	margin-right: 0px;
	float: left;
	border-top: 3px solid black;
}

#home {
	width: 200px;
	height: 200px;
	/* background-color: blue; */
	margin: 5px;
}

#categoryList {
	border-top: 2px solid black;
}

#categoryList ul {
	padding-left: 5px;
}

#categoryList a {
	display: block;
	text-align: left;
}

#categoryList li {
	text-align: left;
	line-height: 55px;
	padding-left: 0px;
	font-weight: 600;
}

#categoryList li:hover {
	color: #53AFB2;
}

#content {
	width: 1020px;
	height: 10000px;
	background-color: white;
	float: right;
}

/* topBox 시작 */
#topBox {
	width: 1020px;
	height: 675px;
	/* background: orange; */
	padding: 7px;
}

#imgBox {
	width: 500px;
	height: 630px;
	/* background: red; */
	padding: 25px;
	float: left;
}

#thumbmail {
	width: 450px;
	height: 450px;
}

#expBox {
	width: 500px;
	height: 650px;
	/* background: white; */
	padding: 25px 0 0 10px;
	float: right;
	text-align: left;
	line-height: 30px;
}

#expMiniBox {
	float: left;
}

#expMiniBox h1 {
	font-weight: 500;
	font-size: 24px;
	color: black;
	line-height: 34px;
	letter-spacing: -0.5px;
	margin: 0 20px 0 0;
}

#total_review {
	font-size: 14px;
	margin-top: 3px;
}

#priceBox {
	margin: 10px 0 10px 0;
}

#precent {
	font-size: 22px;
	font-weight: 800;
	color: #6c7580;
}

#discount {
	font-size: 33px;
	font-weight: 800;
	display: block;
	padding-right: 4px;
	font-size: 28px;
}

#shipBox {
	border-top: 1px solid rgb(244, 244, 244);
	border-bottom: 1px solid rgb(244, 244, 244);
	padding: 10px;
}

#shipping {
	float: left;
	line-height: 5;
	font-weight: bold;
}

#ship_inf {
	width: 200px;
	text-align: left;
	margin-left: 224px;
}

#sellerBox {
	padding: 10px;
	border-bottom: 1px solid rgb(244, 244, 244);
}

.seller {
	float: left;
	line-height: 2;
	font-weight: bold;
}

.seller_inf {
	width: 200px;
	text-align: left;
	margin-left: 224px;
}

#price {
	text-decoration: line-through;
	font-size: 17px;
	color: #a6a9ad;
}

#qtyBox {
	border: 1px solid #ddd;
	width: 372px;
	height: 116px;
	padding: 5px;
	position: relative;
	left: 106px;
}

#quantityBox {
	padding: 10px;
	line-height: 1px;
	border-bottom: 1px solid rgb(244, 244, 244);
}

.prdSelect {
	float: left;
	line-height: 2;
	font-weight: bold;
	position: absolute;
	top: 610px;
}

#subTitle {
	width: 320px;
	font-size: 12px;
	line-height: 1.5;
}

#qtyCtr {
	border: 1px solid #ddd;
	width: 102px;
	height: 35px;
	position: relative;
	position: relative;
	top: 28px;
	left: 4px;
	top: 28px;
	left: 4px;
}

.btn {
	border: none;
	background: none;
	cursor: pointer;
	width: 40px;
	height: 33px;
	padding: 0;
	font-weight: bold;
	font-size: 22px;
}

#plusBtn {
	float: right;
}

#minusBtn {
	float: left;
}

#qty {
	display: inline-block;
	text-align: center;
	width: 20px;
	margin-top: 15px;
}

#priceBox2 {
	float: right;
	margin-top: 10px;
}

#discount2 {
	text-decoration: line-through;
	color: rgb(181, 181, 181);
	font-size: 12px;
}

#price2 {
	font-size: 12px;
}

#finalPrice {
	float: right;
	margin: 6px 11px 0 0;
}

#price3 {
	font-weight: bold;
	font-size: 35px;
	color: #53afb2;
	line-height: 36px;
}

#btnBox {
	width: 490px;
	margin-top: 47px;
	position: absolute;
}

#put_cart {
	background: white;
	border: 1px solid #ddd;
	width: 209px;
	height: 60px;
	color: black;
	border-radius: 2px;
	cursor: pointer;
}

#put_cart:hover, #buying:hover, #likes:hover {
	filter: brightness(99%);
}

#buying {
	background: #53afb2;
	border: none;
	width: 209px;
	height: 60px;
	color: white;
	border-radius: 2px;
	cursor: pointer;
}

#likes {
	width: 60px;
	position: relative;
	top: 24.5px;
	border: 1px solid #ddd;
	border-radius: 2px;
}

/* topBox 끝 */

/* midBox 시작 */
#midBox {
	width: 1020px;
	height: 6800px;
	background-color: green;
}

#content nav {
	z-index: 20;
	position: sticky;
	top: 0;
	width: 1020px;
	box-shadow: rgb(221, 221, 221) 0px -0.5px 0px 0px inset;
	background-color: rgb(255, 255, 255);
	margin-top: 50px;
}

#content nav ul {
	display: flex;
	flex-wrap: wrap;
	height: 60px;
}

#content nav li {
	display: flex;
	flex: 1 1 0%;
	border-width: 1px 0px 1px 1px;
	border-color: rgb(238, 238, 238);
	border-style: solid;
	background-color: rgb(250, 250, 250);
}

#content nav a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

#detailImgBox {
	
}

#detailImg {
	
}

#detailImg img {
	width: 100%;
}

#openBtn {
	
}

#foldBtn {
	
}

/* midBox 끝 */

/* reviewBox 시작 */
#reviewBox {
	width: 1020px;
	height: 800px;
	background-color: gray;
}

#reviewBox h2 {
	float: left;
	margin-bottom: 25px;
}

#reviewImgBox {
	display: inline-block;
}

.reviewImg {
	width: 123px;
	height: 123px;
	float: left;
	margin-left: 4px;
}

#reviewComentBox {
	
}

.reviewComent {
	
}

.reviewer {
	
}

.rcName {
	
}

.rcComment {
	
}

.rcimage {
	
}

.rcimage img {
	width: 93px;
	height: 93px;
}

.rcFooter {
	
}

.rcDate {
	
}

.rcBtn {
	
}

/* reviewBox 끝 */


/* bottomBox 시작 */

#bottomBox {
	width: 1020px;
	height: 800px;
	background-color: purple;
}
/* bottomBox 끝 */