@charset "UTF-8";

#main {
	margin: 0 auto;
	text-align: center;
	width: 1280px;
	/* background-color: pink; */
	padding-top: 25px;
	box-sizing: border-box;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

#category {
	width: 210px;
	margin-left: 25px;
	margin-right: 0px;
	float: left;
	border-top: 3px solid black;
}

#home {
	width: 200px;
	height: 200px;
	/* background-color: blue; */
	margin: 5px;
}

#categoryList {
	border-top: 2px solid black;
}

#categoryList ul {
	padding-left: 5px;
}

#categoryList a {
	display: block;
	text-align: left;
}

#categoryList li {
	text-align: left;
	line-height: 55px;
	padding-left: 0px;
	font-weight: 600;
}

#categoryList li:hover {
	color: #53AFB2;
}

#content {
	width: 1020px;
	background-color: white;
	float: right;
}

/* topBox 시작 */
#topBox {
	width: 1020px;
	height: 675px;
	/* background: orange; */
	padding: 7px;
}

#imgBox {
	width: 500px;
	height: 630px;
	/* background: red; */
	padding: 25px;
	float: left;
}

#thumbmail {
	width: 450px;
	height: 450px;
}

#expBox {
	width: 500px;
	height: 650px;
	/* background: white; */
	padding: 25px 0 0 10px;
	float: right;
	text-align: left;
	line-height: 30px;
}

#expMiniBox {
	float: left;
	width: 485px;
}

#expMiniBox h1 {
	font-weight: 500;
	font-size: 24px;
	color: black;
	line-height: 34px;
	letter-spacing: -0.5px;
	margin: 0 20px 0 0;
}

#total_review {
	font-size: 14px;
	margin-top: 3px;
}

#priceBox {
	margin: 10px 0 10px 0;
}

#precent {
	font-size: 22px;
	font-weight: 800;
	color: #6c7580;
}

#discount {
	font-size: 33px;
	font-weight: 800;
	display: block;
	padding-right: 4px;
	font-size: 28px;
}

#shipBox {
	border-top: 1px solid rgb(244, 244, 244);
	border-bottom: 1px solid rgb(244, 244, 244);
	padding: 10px;
}

#shipping {
	float: left;
	line-height: 5;
	font-weight: bold;
}

#ship_date {
	color: #53afb2;
	font-weight: 600;
}

#ship_inf {
	width: 200px;
	text-align: left;
	margin-left: 108px;
}

#sellerBox {
	padding: 10px;
	border-bottom: 1px solid rgb(244, 244, 244);
}

.seller {
	float: left;
	line-height: 2;
	font-weight: bold;
}

.seller_inf {
	width: 200px;
	text-align: left;
	margin-left: 108px;
}

#price {
	text-decoration: line-through;
	font-size: 17px;
	color: #a6a9ad;
	display: inline;
}

#qtyBox {
	border: 1px solid #ddd;
	width: 372px;
	height: 116px;
	padding: 5px;
	position: relative;
	left: 106px;
}

#quantityBox {
	padding: 10px;
	line-height: 1px;
	border-bottom: 1px solid rgb(244, 244, 244);
}

.prdSelect {
	float: left;
	line-height: 2;
	font-weight: bold;
	position: absolute;
	top: 548px;
}

#subTitle {
	width: 320px;
	font-size: 12px;
	line-height: 1.5;
}

#qtyCtr {
	border: 1px solid #ddd;
	width: 102px;
	height: 35px;
	position: relative;
	top: 46px;
	left: 4px;
}

.btn {
	border: none;
	background: none;
	cursor: pointer;
	width: 40px;
	height: 33px;
	padding: 0;
	font-weight: bold;
	font-size: 22px;
}

#plusBtn {
	float: right;
}

#minusBtn {
	float: left;
	position: relative;
	top: -2px;
	opacity: 20%;
}

#qty {
	display: inline-block;
	text-align: center;
	width: 20px;
	margin-top: 15px; 
	/* margin-top: 6px;  */
	font-weight: bold;
	font-size: 17px;
}

#priceBox2 {
	float: right;
	margin-top: 30px;
	margin-right: 12px;
}

#discount2 {
	text-decoration: line-through;
	color: rgb(181, 181, 181);
	font-size: 12px;
	display: inline-block;
}

#price2 {
	font-size: 12px;
	display: inline-block;
}

#finalPrice {
	float: right;
	margin-top: 7px;
}

#price3 {
	font-weight: bold;
	font-size: 35px;
	color: #53afb2;
	line-height: 36px;
}

#btnBox {
	width: 490px;
	margin-top: 47px;
	position: absolute;
}

#put_cart {
	background: white;
	border: 1px solid #ddd;
	width: 209px;
	height: 60px;
	color: black;
	border-radius: 2px;
	cursor: pointer;
}

#put_cart:hover, #buying:hover, #likes:hover {
	filter: brightness(99%);
}

#buying {
	background: #53afb2;
	border: none;
	width: 209px;
	height: 60px;
	color: white;
	border-radius: 2px;
	cursor: pointer;
}

#likes {
	width: 60px;
	position: relative;
	top: 24.5px;
	border: 1px solid #ddd;
	border-radius: 2px;
}

/* topBox 끝 */

/* midBox 시작 */
#midBox {
	width: 1020px;
	/* background-color: green; */
}

#content nav {
	z-index: 20;
	position: sticky;
	top: 0;
	width: 1020px;
	box-shadow: rgb(221, 221, 221) 0px -0.5px 0px 0px inset;
	background-color: rgb(255, 255, 255);
	margin-top: 50px;
}

#content nav ul {
	display: flex;
	flex-wrap: wrap;
	height: 60px;
}

#content nav li {
	display: flex;
	flex: 1 1 0%;
	border-width: 1px 0px 1px 1px;
	border-color: rgb(238, 238, 238);
	border-style: solid;
	background-color: rgb(250, 250, 250);
}

#content nav a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

#detailImgBox {
	width: 1020px;
	overflow: hidden;
	height: 940px;
	position: relative;
}

#detailImg {
	
}

#detailImg img {
	width: 100%;
}

#detailImgBox input[type=button] {
	position: absolute;
	left: 409px;
	border: 3px solid #53afb2;
	border-radius: 38px;
	width: 200px;
	height: 85px;
	cursor: pointer;
	z-index: auto;
	color: #53afb2;
	font-weight: bold;
	font-size: 20px;
}

#openBtn {
	top: 820px;
}

#foldBtn {
	top: 6426px;
	display: none;
}

/* midBox 끝 */

/* reviewBox 시작 */
#reviewBox {
	width: 1020px;
	/* background-color: gray; */
	padding-top: 90px;
}

#reviewBox h2, #bottomBox h2 {
	float: left;
	margin-bottom: 25px;
}

#reviewImgBox {
	width: 1016px;
	display: inline-block;
	padding-bottom: 30px;
	border-bottom: 1px solid rgb(244, 244, 244);
}

.reviewImg {
	width: 123px;
	height: 123px;
	float: left;
	margin-left: 4px;
}

#reviewComentBox {
	
}

.reviewComent {
	padding: 15px 0 15px 0;
	border-bottom: 1px solid rgb(244, 244, 244);
}

.reviewer {
	display: inline-block;
	float: left;
	width: 200px;
	height: 200px;
	font-weight: 500;
}

.art {
	display: inline-block;
	width: 819px;
	text-align: left;
}

.rcName {
	font-size: 12px;
	font-weight: 400;
	color: rgb(153, 153, 153);
}

.reviewRating {
	margin-top: 4px;
	color: gold;
	font-size: 13px;
	font-weight: bolder;
}

.rcComment {
	padding: 12px 20px 12px 0;
	word-break: break-word;
	/* white-space: pre-wrap; */
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: rgb(51, 51, 51);
	text-align: left;
	word-break: keep-all;
}

.rcimage {
	
}

.rcimage img {
	width: 93px;
	height: 93px;
}

.rcFooter {
	
}

.rcDate {
	width: 100px;
	display: inline-block;
	margin-top: 9px;
	color: rgb(153, 153, 153);
}

.rcBtn {
	float: right;
	border: 1px solid rgb(226, 226, 226);
	background: white;
	width: 100px;
	height: 30px;
	color: black;
	font-size: 15px;
	font-weight: normal;
	border-radius: 15px;
	cursor: pointer;
	border-radius: 15px;
}

.rcBtn:hover {
	color: #53afb2;
}
/* reviewBox 끝 */

/* bottomBox 시작 */
#bottomBox {
	width: 1020px;
	height: 750px;
	padding: 90px 0 90px 0;
	margin-bottom: 100px;
	/* background-color: purple; */
}

#returnBox {
	
}

#returnBox strong {
	font-size: 18px;
}

#returnBox p {
	font-size: 11px;
	line-height: 3;
	color: #3f3f3f;
}

#bottomBox table {
	display: inline-block;
	border-collapse: collapse;
}

#bottomBox th {
	background-color: #fafafa;
}

#bottomBox td {
	text-align: left;
}

#bottomBox td, #bottomBox th {
	padding: 9px 17px 11px 20px;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	font-size: 12px;
	line-height: 18px;
	color: #000;
	word-break: keep-all;
	height: 56px;
}

#bottomBox li {
	list-style: auto;
}

.gray_font {
	color: #8f8f8f;
}

#sellerInfo strong {
	float: left;
	margin-bottom: 15px;
	font-size: 14px;
}

#sellerInfo {
	margin-top: 20px;
}

#sellerInfo tr {
	display: inline-table;
	width: 1020px;
}
/* bottomBox 끝 */



/* 장바구니 담기 (예은) */

#cart_quantity{
	border: none;
	width: 100%;
	height: 100%;
	font-size: 18px;
}
#confirm_add_cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 40%;
	left: 45%;
	width: 380px;
	height: 220px;
	padding: 20px;
	background: #fff;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
	z-index: 999;
	display: none;
}

#cart_close_btn {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	font-size: 30px;
	cursor: pointer;
}

.popup_text{
	display: flex;
	justify-content: center;
	width: 100%;
	font-size: 19px;
}

#go_to_cart{
	border: 1px solid #999;
	padding: 6px 10px;
	cursor: pointer;
	color: #555;
	margin-bottom: 10px;
}