@charset "UTF-8";
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
ol,
ul,
li,
form,
article,
aside,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
body {
  width: 100%;
}
.all {
  margin: 0 auto;
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90px;
  background: #fff;
  border-bottom: 1px solid grey;

}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 1280px;
  min-width: 1280px;
  height: 90px;
  background: #fff;
  font-family: "GmarketSansMedium";
}

.hd_logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 280px;
  height: 60px;
  font-weight: 900;
  font-size: 34px;
  color: #53afb2;
  cursor: pointer;
}
.hd_logo img {
  width: 100%;
  height: 100%;
  width: 200px;
  margin-right: 30px;
  /* border: 1px solid red; */
}

.nav_tab {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #333;
  font-weight: 500;

}

.nav_tab div {
  padding-right: 30px;
  cursor: pointer;
}

.nav_tab div:hover {
  color: rgb(32, 92, 255);
}

.hd_loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 150px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 15px;
}

.hd_loggedin {
	text-align: right;
	  min-width: 500px;
	    color: #333;
}

.hd_loginBtn:hover {
  background: #7CB9BB;
  color: #fff;
  font-weight: 500;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 500px;
  background: #eee;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1280px;
  height: 100%;
  padding: 70px 0;
  background: #eee;
  color: #888;
  font-family: "GmarketSansMedium";
}

.ft_title_wrap {
  display: flex;
}
.ft_title {
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  font-family: "yg-jalnan";
}

.family_site {
  display: flex;
  align-items: center;
  /* all: unset;
  appearance: none; */
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  width: 220px;
  height: 30px;
  border: 1px solid #ccc;
  padding: 0 10px;
  border-radius: 4px;
}

.ft_text {
  font-weight: 400;
  line-height: 30px;
}

.ft_text span {
  display: block;
}

.ft_line {
  width: 100%;
  height: 0.5px;
  border: 0.5px solid #aaa;
  margin-bottom: 20px;
}
.ft_terms {
  font-size: 14px;
}

.ft_copy {
  font-size: 12px;
  line-height: 40px;
}

.ft_customer {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  width: 100%;
  height: 100%;
}

.ft_time {
  display: block;
  font-size: 14px;
  line-height: 50px;
  color: #999;
}

.ft_contact_wrap {
  display: flex;
}
.ft_contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  border: 2px solid #aaa;
  background: #fff;
  border-radius: 10px;
  font-size: 16px;
  margin-right: 10px;
}

@font-face {
  font-family: "yg-jalnan";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
