@charset "UTF-8";

* {
	
}

a {
	text-decoration: none;
	color: inherit;
	background-color: transparent; /* 배경색 투명화 (일부 브라우저에 필요할 수 있음) */
	font-size: inherit;
	font-weight: inherit;
	width: 100%;
	cursor: default;
}

/* 우측 콘텐츠 영역 */
.contents_wrap {
	border: none;
}

.sub_title {
	display: flex;
	align-items: center;
	height: 80px;
	font-size: 22px;
	border-bottom: 2px solid #222;
	font-family: "JalnanGothic";
	margin-bottom: 27px;
}

.sub_title span {
	font-size: 14px;
}

.select_all_wrap {
	display: flex;
	align-items: center;
	height: 70px;
	border-bottom: 1px solid #222;
}

#remove_selected_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	height: 38px;
	font-size: 14px;
	border: 1px solid #444;
	margin-left: 20px;
}

#remove_selected_btn:hover {
	cursor: pointer;
	background: #53afb2;
	color: #fff;
}

.wishlist {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
	margin-bottom: 30px;
}

/* 기본 체크박스 숨기기 */
.custom-checkbox input[type="checkbox"] {
	display: none;
}

/* 체크박스와 레이블 스타일링 */
.custom-checkbox {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	font-size: 16px;
	user-select: none; /* 텍스트 선택 방지 */
}

/* 사용자 정의 체크박스 스타일링 */
.custom-checkbox .checkmark {
	position: relative;
	width: 24px;
	height: 24px;
	background-color: #f0f0f0; /
	border-radius: 4px;
	margin-right: 8px;
	transition: background-color 0.3s, border-color 0.3s;
	border: 1px solid #333;
	border-radius: 4px;
}

/* 체크박스가 선택되었을 때 스타일링 */
.custom-checkbox input[type="checkbox"]:checked+.checkmark {
	background-color: #53afb2;
	border: 1px solid #333;
}

/* 체크 표시  */
.custom-checkbox .checkmark:after {
	content: "";
	position: absolute;
	display: none;
	left: 8px;
	top: 3px;
	width: 5px;
	height: 12px;
	border: solid white;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

/* 체크된 상태에서 체크 표시 보이기 */
.custom-checkbox input[type="checkbox"]:checked+.checkmark:after {
	display: block; /* 체크된 경우 표시 */
}

/* 호버 상태에서 체크박스 스타일 변경 */
.custom-checkbox:hover .checkmark {
	background-color: #e0e0e0;
	border-color: #b3b3b3;
}

.column_wrap {
	display: flex;
	flex-direction: column;
}

.prd_image {
	width: 120px;
	height: 120px;
	overflow: hidden;
	border: 1px solid #333;
	margin-left: 14px;
	margin-right: 26px;
	border-radius: 10px;
}

.prd_image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	cursor: pointer;
}

.prd_name {
	font-size: 20px;
	margin-bottom: 10px;
}

.one_prd_price {
	margin-bottom: 10px;
}

.prd_count_btn_box {
	display: flex;
}

.prd_count_btn_box div {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 100px;
	min-width: 36px;
	padding: 5px;
	height: 34px;
	border: 1px solid #222;
	font-size: 22x;
	padding: 5px;
}

.prd_count_btn_box div:hover {
	cursor: pointer;
	font-wieght: 700;
}

.prd_delete_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
	color: #555;
	margin-bottom: 10px;
}

.prd_delete_btn:hover {
	cursor: pointer;
}

.all_prd_price {
	font-size: 18px;
	font-weight: 600;
	margin: 10px 0;
}

.button_wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90px;
	height: 30px;
	background: #eee;
	font-size: 14px;
	border: 1px solid #333;
	border-radius: 5px;
	margin-bottom: 8px;
}

.button:hover {
	font-weight: 600;
	cursor: pointer;
}

.right_box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 30%;
	padding-left: 50px;
	/* position: fixed; */
}

.payment_box {
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 100%;
	height: 260px;
	background: #fff;
	border: 3px solid #555;
	margin: 20px 0;
	justify-content: center;
}

.payment_box div {
	line-height: 50px;
}

.payment_box_title {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 20px;
}

.total_prd_amount {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.total_shipping_fee {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.final_payment_amount {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #222;
}

.final_payment_amount div {
	font-size: 18px;
}

.final_payment_amount div span {
	font-weight: 800;
}

#order_all_btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #53afb2;
	color: #fff;
	border: 1px solid #444;
	margin-bottom: 20px;
	font-size: 24px;
}

#order_all_btn:hover {
	cursor: pointer;
	font-weight: 600;
	background: #53afb2;
	color: #fff;
}

#order_selected_btn {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 80px;
	background: #fff;
	border: 1px solid #444;
	font-size: 24px;
}

#order_selected_btn:hover {
	background: #53afb2;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	cursor: pointer;
}

.shopping_guide {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 400px;
}

.shopping_guide_title {
	display: flex;
	align-items: center;
	height: 60px;
	width: 100%;
	font-size: 20px;
	font-weight: 600;
	border-bottom: 2px solid #222;
	align-items: center;
	margin-bottom: 20px;
}

.shopping_guide_text div {
	display: flex;
	align-items: center;
	width: 100%;
	height: 50px;
	font-weight: 600;
}

.shopping_guide_text ul li {
	width: 100%;
	height: 30px;
	margin-left: 10px;
}

@font-face {
	font-family: "yg-jalnan";
	src:
		url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GmarketSansMedium";
	src:
		url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "JalnanGothic";
	src:
		url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

/* orderHistory */
.row_wrap table {
	width: 100%;
	text-align: center;
	border-collapse: collapse;
}

.row_wrap td {
	border: 1px solid;
	line-height: 2;
	font-size: 13px;
	vertical-align: baseline;
}

.row_wrap th {
	    line-height: 2;
}

.order_img {
	width: 30px;
	cursor: auto;
}

.miniTable {
	border-collapse: collapse;
}

.miniTable td {
	border: none;
	height: 69px;
}

#second {
	width: 210px;
}

#third {
	width: 120px;
}

#fourth {
	width: 60px;
}

#o_first {
	width: 208.5px;
	font-size: 10px;
	border-right: 1px solid;
}

#o_second {
	width: 120px;
	border-right: 1px solid;
}

#o_third {
	
}

.breakDown {
	font-size: 13px;
}

.sub {
	float: left;
}

.result {
	float: right;
}