@charset "UTF-8";

* {
	color: #444;
}

.left_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	height: 100%;
	border-right: 3px dotted #333;
	padding-right: 30px;
	font-family: "GmarketSansMedium";
}

.today_feeling_wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	height:70px;
	font-size: 14px;
}
#today_feeling {
	display: flex;
}
.today_feeling_wrap span {
	margin-bottom: 10px;
	}
	
#edit_feeling_btn{
	height: 18px;
	cursor:pointer;
	margin:0;
	padding:0;
	display: inline-block;
}

#select_feeling_wrap {
	display:flex;
	width: 100px;
}

#select_feeling_wrap form{
		display:flex;
}
#select_feeling_select{
	width: 100%;
	height: 100%;
	margin:0;
	padding:0;
	display:none;
}

#save_feeling_btn{
	height: 24px;
	overflow:hidden;
	text-decoration: none;
	border:none;
	display:none;
}
#save_feeling_btn img{
	border:none;
	height:100%;
	width:100%;
	object-fit:contain;
	cursor:pointer;
}
.profile_photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 140px;
	background: #ccc;
	border-radius: 10px;
	overflow: hidden;
}

.profile_photo  img {
	width: 100%;
	height: 100%;
	cursor: pointer;
	object-fit: cover;
}

.profile_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100% - 180px);
}

.diary_title {
	display: flex;
	height: 50px;
	width: 560px;
	font-size:20px;
}

#diaryTitleDisplay {
	max-width: 500px;
	height: 50px;
	font-family: "yg-jalnan";
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#diaryTitleInput {
	width: 100%;
	max-width: 440px;
	height: 34px;
	font-family: "yg-jalnan";
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid #ccc;
	background: inherit;
	font-size:inherit;
	padding: 0;
	margin:0;
	background: #fff;
	display: none;
}

#editButton {
	display: flex;
	width: 20px;
	height: 30px;
	object-fit: contain;
	cursor: pointer;
	margin-left: 10px;
	
}


#saveButton {
	width: 20px;
	height: 30px;
	object-fit: contain;
	cursor: pointer;
	margin-left: 6px;
	margin-right:20px;
	display: none;
	border: none;
}

#cancelBtn {
	display:none;
	cursor:pointer;
	font-weight:900;
	line-height:34px;
}

.right_wrap {
	display: flex;
	flex-direction: column;
	width: 560px;
	height: 100%;
	padding-left: 30px;
	font-family: "GmarketSansMedium";
}

.recent_posts {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 140px;
}

.recent_posts ul {
	margin-left: 20px;
	font-size: 14px;
}

.home_photo_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width:100%;
	height:300px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background:#ddd;
}