@charset "UTF-8";

* {
	color: #444;
}

.left_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 280px;
	height: 100%;
	border-right: 2px solid #333;
	padding-right: 14px;
	font-family: "GmarketSansMedium";
}

.today_feeling {
	display: flex;
	width: 100%;
	height: 40px;
	font-size: 12px;
}

.profile_photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 140px;
	background: #ccc;
	border-radius: 10px;
	border: 2px solid #333;
	overflow: hidden;
}

.profile_photo  img {
	width: 100%;
	height: 100%;
	cursor: pointer;
	object-fit: cover;
}

.profile_text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: calc(100% - 180px);
}

.diary_title {
	display: flex;
	height: 40px;
	width: 560px;
}

#diaryTitleDisplay {
	max-width: 500px;
	height: 30px;
	font-family: "yg-jalnan";
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#diaryTitleInput {
	width: 100%;
	max-width: 500px;
	height: 30px;
	font-family: "yg-jalnan";
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid #ccc;
	background: inherit;
	font-size:inherit;
	padding: 0;
	margin:0;
	background: #fff;
	text-indent: 10px;
	display: none;
}

#editButton {
	display: flex;
	width: 20px;
	height: 30px;
	object-fit: contain;
	cursor: pointer;
	margin-left: 10px;
	
}


#saveButton {
	width: 20px;
	height: 30px;
	object-fit: contain;
	cursor: pointer;
	margin-left: 10px;
	display: none;
	border: none;
}


.right_wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding-left: 14px;
	font-family: "GmarketSansMedium";
}

.recent_posts {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 140px;
	border-bottom: 1px solid #ccc;
}

.recent_posts ul {
	margin-left: 20px;
	font-size: 14px;
}