@charset "UTF-8";

* {
	color: #444;
	box-sizing: border-box;
}

.left_wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 260px;
	min-width: 260px;
	max-width: 260px;
	height: 100%;
	border-right: 3px dotted #333;
	padding-right: 22px;
	font-family: "GmarketSansMedium";
}

.today_feeling_wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 34px;
	font-size: 14px;
	/* border-bottom: 2px solid #ccc;
	 */
	position: relative;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	background: #fff;
}

#today_feeling {
	display: flex;
	width: 100px;
	position: absolute;
	left: 110px;
}

#edit_feeling_btn {
	height: 18px;
	cursor: pointer;
	margin: 0;
	padding: 0;
	display: inline-block;
}

#select_feeling_wrap {
	display: flex;
	width: 100px;
}

#select_feeling_wrap form {
	display: flex;
}

#select_feeling_select {
	display: flex;
	width: 100px;
	height: 26px;
	margin: 0;
	padding: 0;
	display: none;
	text-decoration: none;
}

#save_feeling_btn {
	height: 24px;
	overflow: hidden;
	text-decoration: none;
	border: none;
	display: none;
}

#save_feeling_btn img {
	border: none;
	height: 100%;
	width: 100%;
	object-fit: contain;
	cursor: pointer;
}

.profile_photo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 180px;
	background: #ccc;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	border: 1px solid #ccc;
}

.profile_photo img {
	width: 100%;
	height: 100%;
	cursor: pointer;
	object-fit: cover;
	transition: opacity 0.3s ease;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: opacity 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
}


.overlay img {
	width: 30px;
	height: 30px;
}

#edit_proifle_img_cancel_Btn{
	position:fixed;
	left: 230px;
	display: flex;
	align-items: center;
	justify-content: center;
	width:30px;
	height:30px;
	color: #222;
	font-weight:700;
	border: 2px solid #222;
}
#edit_proifle_img_cancel_Btn:hover {
	background: #eee;
	color: #222;
	cursor:pointer;
}

.profile_photo:hover .overlay {
	cursor: pointer;
	opacity: 1;
	border: 3px solid #ccc;
}

.profile_text_wrap {
	display: flex;
	flex-direction: column;
	width: 240px;
	min-width: 240px;
	height: 240px;
	border: 2px solid #ccc;
	margin: 10px; 0;
	overflow: scroll;
	font-size: 14px;
	border-radius: 5px;
	background: #fff;
	padding: 10px;
}

.profile_text_wrap::-webkit-scrollbar {
	display: none;
}

#diary_profile_text {
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	display: none;
	width: 100%;
	height: 100%;
	font-size: 15px;
	border: none;
	padding: none;
	margin: 0;
	resize: none;
	box-sizing: border-box;
	outline: none;
	resize: none;
}

.edit_profile_text_btn_wrap {
	display: flex;
	justify-content: flex-end;
	width: 100%;
	height: 30px;
}

#edit_profile_text_btn {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #ccc;
	width: 70px;
	height: 30px;
	font-size: 12px;
}

#edit_profile_text_btn:hover {
	cursor: pointer;
	font-weight: 600;
}

#edit_profile_text_btn img {
	width: 20px;
	height: 20px;
}

#save_profile_text_btn {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	background: #fff;
	border: 1px solid #ccc;
	width: 70px;
	height: 30px;
	display: none;
}

#save_profile_text_btn:hover {
	cursor: pointer;
	font-weight: 600;
}

#save_profile_text_btn img {
	width: 16px;
	height: 16px;
}

.diary_title {
	display: flex;
	height: 40px;
	font-size: 20px;
	border-bottom: 2px solid #ccc;
	margin-bottom: 10px;
}

#diaryTitleDisplay {
	max-width: 500px;
	height: 50px;
	font-family: "yg-jalnan";
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

#diaryTitleInput {
	width: 100%;
	max-width: 440px;
	height: 34px;
	font-family: "yg-jalnan";
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	border: 1px solid #ccc;
	background: inherit;
	font-size: inherit;
	padding: 0;
	margin: 0;
	background: #fff;
	display: none;
}

#editButton {
	display: flex;
	width: 20px;
	height: 30px;
	object-fit: contain;
	cursor: pointer;
	margin-left: 10px;
}

#saveButton {
	width: 20px;
	height: 30px;
	object-fit: contain;
	cursor: pointer;
	margin-left: 6px;
	margin-right: 20px;
	display: none;
	border: none;
}

#cancelBtn {
	display: none;
	cursor: pointer;
	font-weight: 900;
	line-height: 34px;
}

#save_profile_image_btn {

	border: none;
	background: none;
}
#save_profile_image_btn img{
}



.right_wrap {
	display: flex;
	flex-direction: column;
	width: 560px;
	height: 100%;
	padding-left: 30px;
	font-family: "GmarketSansMedium";
}

.recent_posts_wrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 130px;
	margin-bottom: 14px;
	font-weight: 600;
	font-size: 14px;
	
}

.recent_posts_wrap ul {
	margin-top: 8px;
}

.recent_posts_wrap li {
	font-size: 12px;
	font-weight: 500;
	margin: 0 20px;		

}

.recent_posts_wrap ul li:hover {
	cursor: pointer;
	font-weight: 600;
}

.recent_post {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.home_photo_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 500px;
	height: 300px;
	/* 	border: 3px solid #ccc;*/
	border-radius: 10px;
	background: #ddd;
	overflow: hidden;
	border: 3px solid transparent;
}

.home_photo_wrap img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.home_photo_wrap:hover {
	border: 3px solid #999;
}

.slider {
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

.slick-slide {
	/* 	margin: 0 20px; */
	margin: 0;
	transition: all ease-in-out 0.3s;
	opacity: 1;
	cursor: pointer;
}

.slick-slide img {
	width: 100%;
	height: auto;
}

.slick-prev:before, .slick-next:before {
	color: black;
}

.slick-prev:hover, .slick-next:hover {
	color: red; /* 마우스 오버 시 화살표 색상 */
}

.slick-slide {
	transition: all ease-in-out .3s;
	opacity: .2;
}

.slick-active {
	opacity: .5;
}

.slick-current {
	opacity: 1;
}

.slick-current img {
	/* width: 120%; */
	width: 500px;
}