@charset "UTF-8";

.section {
    margin-bottom: 20px;
}

.section .content-box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 3px;
}

.section .content-box ul, .latest-news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section .content-box li, .post-item {
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0;
    border-bottom: 1px solid #ddd;
}

.section .content-box a, .post-item a {
    color: black;
    text-decoration: none;
    font-weight: 550;
}

.section .content-box a:hover, .post-item a:hover {
    text-decoration: underline;
}

.post-meta {
    font-size: 0.9em;
    color: #666;
    display: flex;
    align-items: center;
}

.post-separator {
    margin: 0 5px;
}

.post-item:hover {
    background-color: #f9f9f9;
}
@font-face {
	font-family: "yg-jalnan";
	src:
		url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GmarketSansMedium";
	src:
		url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}